{% extends 'shared/MainLayout.html' %}
{% block content %}
    <div class="mt-3">
        <h2>ورود</h2>
        <form method="post" id="login-box" class="shadow">
            {% csrf_token %}
            {% for key, value in login_from.errors.items %}
                <span class="fieldWrapper" style="color: red">
                    {{ value }}
                </span>
            {% endfor %}
            <div class="row">
                <div class="col-lg-6">
                    <label>{{ login_from.user_name.label }}</label>
                    {{ login_from.user_name }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label>{{ login_from.password.label }}</label>
                    {{ login_from.password }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {{ login_from.captcha }}
                </div>
            </div>
            <div class="form-check">
                <a href="{% url 'password-reset' %}">فراموشی رمز عبور</a>
            </div>
            <button class="button btn" type="submit">
                ورود
            </button>
        </form>
    </div>
{% endblock %}