{% extends 'shared/MainLayout.html' %}
{% block content %}
    <div class="login-box mt-3">
        <h2>ورود</h2>
        <form method="post">
            {% csrf_token %}
            {% for key, value in login_from.errors.items %}
                <span class="fieldWrapper" style="color: turquoise">
                    {{ value }}
                </span>
            {% endfor %}
            <div class="user-box">
                {{ login_from.user_name }}
                <label>{{ login_from.user_name.label }}</label>
            </div>
            <div class="user-box">
                {{ login_from.password }}
                <label>{{ login_from.password.label }}</label>
            </div>
            <div class="user-box">
                {{ login_from.captcha }}
            </div>
            <div class="form-check">
                <a href="{% url 'password-reset' %}">فراموشی رمز عبور</a>
            </div>
            <button class="button btn" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                ورود
            </button>
        </form>
    </div>
{% endblock %}